# BoxHit_02.cfg
# Box whether is chosed.
DEBUG_SHOW = 0			
POSRELAT_MIN = 8				
POSRELAT_MAX = 100				
BINARY_METHOD = 1				
BINARY_THRES = 170				
SMALL_SPOT = 5				
MORPH_TIMES = 1				
MORPH_ANX = 1				
MORPH_ANY = 1				
BOX1_MIN = 60				
BOX1_MAX = 700				
BOX2_MIN = 80				
BOX2_MAX = 700	
BOX3_MIN = 0                       
BOX3_MAX = 0       			
BOX_ADD_MIN = 130				
BOX_SIZEX = 50
BOX_SIZEY = 50
BOX1_OPER_OFFX = 0
BOX1_OPER_OFFY = 0
BOX2_OPER_OFFX = 330
BOX2_OPER_OFFY = 0
BOX3_OPER_OFFX = 0
BOX3_OPER_OFFY = 0
BOX_NUM = 2
MODEL_NAME = ".//config//mod//CheckBox_Model02.bmp"
# 26 items
# end
