# preprocess_3.cfg(Xiamen_Guoji_Yinhang_POC)
SIZEX_MIN = 1000
SIZEX_MAX = 2500
SIZEY_MIN = 550
SIZEY_MAX = 2600
ISTORECOG_ROTATECHECK = 0
ISTOFIXBINDHOLD = 0
NORMALSI_OFFX = 5
NORMALSI_OPER_OFFY = -95
NORMALSI_OPER_SIZEX = -10
NORMALSI_SIZEY = 85
LARGESI_OFFX = 490
LARGESI_OPER_OFFY = -95
LARGESI_OPER_SIZEX = -500
LARGERSI_SIZEY = 85
E13B_ERR_R = 25
E13B_ERR_G = 255
E13B_ERR_B = 255
E13B_ERR_AVER = 128
# 18 ITEMS
# END
