# ��ʶ�������ļ����������Ͼ�����֧Ʊʶ�� (2010��6�£�
#�Ƿ����������Ϣ�ı�־.0:�������1:���
DEBUG_OUTPUT = 0
IMAGE_SIZEX_MIN = 1900
IMAGE_SIZEY_MIN = 900					
CARDNO_OFFX = 1420
CARDNO_OFFY = 50
CARDNO_SIZEX = 560
CARDNO_SIZEY = 120
BINARY_THRES = 80
DELETE_SMALL_AREA = 72
AREA_MIN = 0.06
AREA_MAX = 0.18
OCR_CONFIG_NO = 21
